<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <title>Novo Rumo</title>
</head>
<body>
    <section>
       <div class="imgBox">
        <img class="logo-brigada-login" src="/img/brigada-militar.png" alt="">
        <img style="object-fit: cover;" src="/img/logoWeb.jpeg" alt="">
    </div>
    <div class="contentBox">
        <div class="formBox">
            <div class="imgBox2">
                <img src="/img/NOVO_RUMO.png" alt="">
            </div>
            <div class="border"></div>
            <h2>Faça login como administrador</h2>
            <form method="post" action="/login-verify">
                <div class="inputBox">
                    <span>E-mail</span>
                    <input type="text" name="email">
                </div>
                <div class="inputBox">
                    <span>Senha</span>
                    <input type="password" name="password">
                </div>
                <div class="inputBox">
                    <input type="submit" value="Entrar">
                </div>
            </form>
        </div>

       </div>
    </section>
   
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(() => {
        const params = new URLSearchParams(window.location.search)

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        
        if (params.has("error")) {
            
            toastr["error"](params.get("error"), "error")
        }
            

    })
</script>
</html>
