<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Novo Rumo</title>
</head>
<body>
    
    <div class="h-100 w-70 f-l" ></div>
    <div class="h-100 w-30 f-r" ></div>
</body>

<script src="../public/js/bootstrap.min.js"></script>
</html>








<!-- <div style="height: 100vh; background-color: red; width: 70%; float: left;"></div>
    <div style="height: 100vh; background-color: yellow; width: 30%; float: right;">
        <div style="height: 80vh; background-color: orange; width: 70%; margin: auto; margin-top: 20vh;"></div>
    </div> -->