{% extends "admin-base.html" %}

{% block title %}
Alterar Visita
{% endblock %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/js/selectize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/css/selectize.default.css">
{% endblock %}

{% block content %}
<h3>Alterar Visita</h3>

<form action="/visits/add" method="post">
    <label for="users">Guarnição</label>
    <div class="wrapper-users">
        {% if request_body.users %}
            {% set i = 0 %}
            {% for request_body_user in request_body.users %}
                {% set i = i|int + 1 %}
                <div class="garrison-block">
                    <div class="form-group mb-3" style="width: 95%; float: left;">
                        <select name="users" class="select-users" id="select-users-{{i}}">
                            <option value="" selected></option>
                            {% for user in users %}
                                <option value="{{ user._id }}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" style="float: right;" id="remove-1" class="btn btn-danger remove_field"><i class="fa-sharp fa-solid fa-xmark remove_field" id="remove-1"></i></button>
                </div>
            {% endfor %}
        {% else %}
            <div class="garrison-block">
                <div class="form-group mb-3" style="width: 95%; float: left;">
                    <select name="users" class="select-users" id="select-users-1">
                        <option value="" selected></option>
                        {% for user in users %}
                            <option value="{{ user._id }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="button" style="float: right;" id="remove-1" class="btn btn-danger remove_field"><i class="fa-sharp fa-solid fa-xmark remove_field" id="remove-1"></i></button>
            </div>
        {% endif %}
    </div>

    <button type="button" class="add-button btn btn-primary" style="float: right;">Adicionar Servidor</button>

    <div style="clear: both"></div>

    <div class="form-group mb-3">
        <label for="input-search" style="margin-bottom: 0.5%;">Propriedade</label>
        <select name="property" id="select-property">
            <option value="" selected></option>
            {% for property in properties %}
                <option value="{{ property._id }}">{{ property.code }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="car">Viatura Utilizada</label>
        <input type="text" name="car" id="car" class="form-control" required value="{{ request_body.car }}">
    </div>

    <div class="form-group mb-3">
        <label for="date">Data da Visita</label>
        <input type="datetime-local" name="date" id="date" class="form-control" required value="{{ request_body.date }}">
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-success">
    </div>
</form>
{% endblock %}

{% block script %}
    {% if error %}
    <script>
        $(document).ready(() => {
            toastr["error"]("{{ error }}", "Erro!");
        })
    </script>
    {% endif %}
    <script>
        {% if request_body.users %}
            {% set i = 0 %}
            {% for request_body_user in request_body.users %}
                {% set i = i|int + 1 %}
                $('#select-users-{{i}}').selectize();
            {% endfor %}
        {% else %}
            $('#select-users-1').selectize();
        {% endif %}
        var $selectP = $('#select-property').selectize();

        $(document).ready(() => {
            var wrapper_users = $('.wrapper-users');
            var add_button = $('.add-button');
            var x = 1;

            $(add_button).click((e) => {
                x++;
                
                var newField = '<div class="garrison-block"><div class="form-group mb-3" style="width: 95%; float: left;"><select name="users" class="select-users" id="select-users-' + x + '"><option value="" selected></option>{% for user in users %}<option value="{{ user._id }}">{{ user.name }}</option>{% endfor %}</select></div><button type="button" style="float: right;" id="remove-' + x + '" class="btn btn-danger remove_field"><i class="fa-sharp fa-solid fa-xmark remove_field" id="remove-' + x + '"></i></button></div>';

                $(wrapper_users).append(newField);
                $('#select-users-' + x).selectize();
            })

            $(wrapper_users).on("click", ".remove_field", (e) => {
                e.preventDefault();
                $("#" + e.target.id).parent().remove();
            });
        })
    </script>
    {% if request_body.property %}
        <script>
            $(document).ready(() => {
                var selectizeP = $selectP[0].selectize;
                selectizeP.setValue("{{request_body.property}}", false);
            });
        </script>
    {% endif %}

    {% if request_body.users %}
        <script>
            {% set i = 0 %}
            {% for request_body_user in request_body.users %}
                {% set i = i|int + 1 %}
                    $select = $('#select-users-{{i}}').selectize();
                    var selectize = $select[0].selectize;
                    selectize.setValue("{{request_body_user}}", false);
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}