{% extends "admin-base.html" %}

{% block title %}
Visitas
{% endblock %}

{% block header %}
<style>
    .margin-left {
        margin-left: 10px;
    }

    .margin-right {
        margin-right: 10px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/js/selectize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/css/selectize.default.css">
{% endblock %}

{% block content %}
<h1 style="float: left; margin-bottom: 3%;">Visitas à Propriedades</h1>
<a href="/visits/add" class="btn btn-success btn-block" style="float: right; width: 23.5%;">Adicionar Visita</a>

<div style="clear: both;"></div>

<form method="get" action="/visits">
    <div class="form-group mb-3" style="float: left; width: 23.5%; margin-right: 2%;">
        <label for="input-search" style="margin-bottom: 0.5%;">Servidor</label>
        <select name="u" id="select-search">
            <option value="" selected></option>
            {% for user in users %}
                <option value="{{ user._id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mb-3" style="float: left; width: 23.5%; margin-right: 2%;">
        <label for="p" style="margin-bottom: 0.5%;">Código de Propriedade</label>
        <input type="text" id="input-search" name="p" class="form-control" style="margin-bottom: 2%; height: 36.18px;" placeholder="Ex. ERE000">
    </div>

    <div class="form-group mb-3" style="float: left; width: 23.5%; margin-right: 2%;">
        <label for="from" style="margin-bottom: 0.5%;">De:</label>
        <input type="datetime-local" name="from" id="from" class="form-control" style="margin-bottom: 2%; height: 36.18px;">
    </div>

    <div class="form-group mb-3" style="float: left; width: 23.5%;">
        <label for="to" style="margin-bottom: 0.5%;">Até:</label>
        <input type="datetime-local" name="to" id="to" class="form-control" style="margin-bottom: 2%; height: 36.18px;">
    </div>

    <div style="clear: both;"></div>

    <button type="submit" class="btn btn-primary" style="float: right; height: 36.18px; width: 23.5%;">Pesquisar</button>
</form>

<div style="clear: both;"></div>
<br>

<table class="table table-stripe table-bordered table-hover">
    <thead>
        <th>Local <a href="/visits?{%if (queries.sort == 'ASC' or queries.sort == undefined)%}sort=DESC{%else%}sort=ASC{%endif%}&column=code{%for var, query in queries %}{%if var != 'sort' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}">{%if queries.sort == 'ASC' and queries.column == 'code'%}<i style="color: black;" class="fa-sharp fa-solid fa-arrow-down"></i>{%elif queries.sort == 'DESC' and queries.column == 'code'%}<i style="color: black;" class="fa-solid fa-arrow-up"></i>{% else %}<i style="color: black;" class="fa-solid fa-arrow-down"></i>{%endif%}</a></th>

        <th>Servidores</th>
        
        <th>Data <a href="/visits?{%if (queries.sort == 'ASC' or queries.sort == undefined)%}sort=DESC{%else%}sort=ASC{%endif%}&column=date{%for var, query in queries %}{%if var != 'sort' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}">{%if queries.sort == 'ASC' and queries.column == 'date'%}<i style="color: black;" class="fa-sharp fa-solid fa-arrow-down"></i>{%elif queries.sort == 'DESC' and queries.column == 'date'%}<i style="color: black;" class="fa-solid fa-arrow-up"></i>{% else %}<i style="color: black;" class="fa-solid fa-arrow-down"></i>{%endif%}</a></th>

        <th>Ações</th>
    </thead>
    <tbody>
        {% for visit in visits %}
        <tr>
            <td>{{ properties[visit._id].code }}</td>
            <td>
                <ul>
                    {% for user in garrison[visit._id] %}
                        {% if user.name != null %}
                            <li>{{user.name}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td class="visit-date">
                {{visit.date}}
            </td>
            <td>
                <div class="buttons" style="width: 80%; margin: auto;">
                    <a href="/visits/view/{{ visit._id }}" class="btn btn-dark btn-block" style="width: 30%; margin-right: 3%;">Ver</a>
                    <a href="/visits/edit/{{ visit._id }}" class="btn btn-primary btn-block"
                        style="width: 30%; margin-right: 3%;">Alterar</a>
                    <a href="#" onclick="confirmDeletion('{{ visit._id }}');" class="btn btn-danger btn-block"
                        style="width: 30%;">Apagar</a>
                </div>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3" style="text-align: center; margin: auto;">Nenhum resultado Encontrado</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example"></nav>
    <ul class="pagination">

    {% if (page != 1) %}
        <li class="page-item"><a class="page-link" href="/visits?page={{ page|int - 1 }}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">Anterior</a></li>
    {% endif %}

    {% for i in range((page|int - 2), (page|int + 3)) -%}
        {% if (i == page) %}
            <li class="page-item active"><a class="page-link" href="/visits?page={{i}}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">{{ i }}</a></li>
        {% elif (i > 0 and i <= last_page) %}
            <li class="page-item"><a class="page-link" href="/visits?page={{i}}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">{{ i }}</a></li>
        {% endif %}
    {%- endfor %}

    {% if (page < last_page) %}
        <li class="page-item"><a class="page-link" href="/visits?page={{ page|int + 1 }}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">Próximo</a></li>
    {% endif %}
    </ul>
</nav>

{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
        if ("{{message}}" != "") {
            toastr["success"]("{{ message }}", "Sucesso!");
        }

        console.log($('.visit-date'));
        var visitDates = $('.visit-date');

        visitDates.each((index) => {
            let dateInt = Date.parse(visitDates[index].innerText);
            
            let date = new Date(dateInt);

            let dateFormat = date.toLocaleDateString("pt-BR", {
                day: "numeric",
                month: "numeric",
                year: "numeric",
                hour:"numeric",
                minute: "numeric"
            });

            visitDates[index].innerText = dateFormat;
        })
    })

    let selectize = $('#select-search').selectize();

    const confirmDeletion = (id) => {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success margin-left',
                cancelButton: 'btn btn-danger margin-right'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Você tem certeza?',
            text: "Não é possível reverter esta informação!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim, apagar!',
            cancelButtonText: 'Não, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                //Delete info
                $.ajax({
                    type: "POST",
                    url: "/visits/delete/" + id,
                    success: function (data) {
                        if (data) {
                            window.location.href = "/visits";

                            swalWithBootstrapButtons.fire(
                                'Apagado!',
                                'Visita apagada com sucesso',
                                'success'
                            );
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Erro!',
                                'Houve um erro ao deletar a Visita. Tente novamente!',
                                'error'
                            )
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelado!',
                    'Visita não foi apagada',
                    'error'
                )
            }

        })
    }
</script>
{% endblock %}

{% block visits_active %}
active
{% endblock %}