{% extends "admin-base.html" %}

{% block title %}
Ver Visita
{% endblock %}

{% block header %}
    <style>
        #map {
            height: 500px;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -27.685046015067787, lng: -52.277383344605944 }, 
                zoom: 10,
            });

            new google.maps.Marker({
                position: { lat: {{visit.property.latitude}}, lng: {{visit.property.longitude}}},
                map,
                title: "{% if (visit.property.code != null) %}{{visit.property.code}}{% else %}Propriedade{% endif %}",
                label: {
                    text: "{% if (visit.property.code != null) %}{{visit.property.code}}{% else %}Propriedade{% endif %}",
                    color: 'white',
                }
            });
        }

        window.initMap = initMap;
    </script>
{% endblock %}

{% block content %}
    <h1>Sobre a Propriedade</h1>

    <p><strong>Código:</strong> {% if visit.property.code %}{{visit.property.code}}{% else %}Sem Código{% endif %}</p>
    <p><strong>Proprietário:</strong> {{visit.property.owner.firstname}} {{visit.property.owner.lastname}}</p>
    <p><strong>CPF:</strong> {{visit.property.owner.cpf}}</p>
    <p><strong>Telefone 1:</strong> {{visit.property.owner.phone1}}</p>
    <p><strong>Telefone 2:</strong> {% if visit.property.owner.phone2 %}{{visit.property.owner.phone2}}{% else %}-{% endif %}</p>
    <p><strong>Quantidade de Residentes:</strong> {{visit.property.qty_people}}</p>
    <p><strong>Possui placa:</strong> {% if (visit.property.has_geo_board == true or visit.property.has_geo_board == "true") %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui câmeras:</strong> {% if (visit.property.has_cams == true or visit.property.has_cams == "true") %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui sinal telefônico:</strong> {% if (visit.property.has_phone_signal == true or visit.property.has_phone_signal == "true") %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui internet:</strong> {% if (visit.property.has_internet == true or visit.property.has_internet == "true") %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui arma de fogo:</strong> {% if (visit.property.has_gun == true or visit.property.has_gun == "true") %}Sim{% else %}Não{% endif %}</p>
    {% if (visit.property.has_gun == true or visit.property.has_gun == "true") %}
        <p><strong>Possui local adequado para armazenar a arma de fogo:</strong> {% if (visit.property.has_gun_local == true or visit.property.has_gun_local == "true") %}Sim{% else %}Não{% endif %}</p>
        <p><strong>Descrição do local onde a arma está armazenada:</strong> {% if visit.property.gun_local_description %}{{visit.property.gun_local_description}}{% else %}-{% endif %}</p>
    {% endif %}
    <p><strong>Quantidade de Defensivos Agrícolas:</strong> {{visit.property.qty_agricultural_defensives}}</p>
    <p><strong>Tamanho da Propriedade:</strong> {{visit.property.area}} hectares</p>
    <p><strong>Informações Adicionais:</strong> <textarea disabled class="form-control">{{visit.property.observations}}</textarea></p>

    <hr>

    <h3>Veículos</h3>
    {% for vehicle in visit.property.vehicles %}
        <li>{{vehicle.name}} - {{vehicle.brand}}, Placa: {{vehicle.identification}}, Cor: {{vehicle.color}}</li>
    {% else %}
        <p>Esta propriedade não possui veículos.</p>
    {% endfor %}

    <hr>

    <h3>Máquinas Agrícolas</h3>
    {% for agricultural_machine in visit.property.agricultural_machines %}
        <li>{{agricultural_machine.name}}</li>
    {% else %}
        <p>Esta propriedade não possui máquinas agrícolas.</p>
    {% endfor %}

    <hr>

    <h3>Solicitações</h3>
    {% for request in visit.property.requests %}
        <li>{{request.agency}} - {% if request.has_success %}Com sucesso{% else %}Sem sucesso{% endif %}</li>
        <hr>
    {% else %}
        <p>Esta propriedade não possui nenhuma solicitação.</p>
        <hr>
    {% endfor %}

    <h3>Visita</h3>
    <p><strong>Data da Visita:</strong> <span class="visit-date">{{visit.date}}</span></p>
    <p>
        <strong>Guarnição:</strong>
        <ul>
            {% for user in visit.users %}
                <li>{{user.name}}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Viatura:</strong> {{visit.car}}</p>
    <p><strong>Histórico:</strong> <textarea disabled class="form-control">{{visit.history}}</textarea></p>
    <hr>

    <h3>Localização</h3>

    <div id="map"></div>
{% endblock %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT2yQkWPQnKknKL1IJHxVAcvV0IaN2N5A&callback=initMap&v=weekly" defer></script>

    <script>
        console.log($('.visit-date'));
        var visitDates = $('.visit-date');

        visitDates.each((index) => {
            let dateInt = Date.parse(visitDates[index].innerText);
            
            let date = new Date(dateInt);

            let dateFormat = date.toLocaleDateString("pt-BR", {
                day: "numeric",
                month: "numeric",
                year: "numeric",
                hour:"numeric",
                minute: "numeric"
            });

            visitDates[index].innerText = dateFormat;
        })
    </script>

{% endblock %}

{% block visits_active %}
active
{% endblock %}