{% extends "admin-base.html" %}

{% block title %}
Ver Visita
{% endblock %}

{% block header %}
    <style>
        #map {
            height: 500px;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -27.685046015067787, lng: -52.277383344605944 }, 
                zoom: 10,
            });

            new google.maps.Marker({
                position: { lat: {{property.latitude}}, lng: {{property.longitude}}},
                map,
                title: "{% if (property.code != null) %}{{property.code}}{% else %}Propriedade{% endif %}",
                label: {
                    text: "{% if (property.code != null) %}{{property.code}}{% else %}Propriedade{% endif %}",
                    color: 'white',
                }
            });
        }

        window.initMap = initMap;
    </script>
{% endblock %}

{% block content %}
    <h1>Sobre a Propriedade</h1>

    <p><strong>Código:</strong> {% if property.code %}{{property.code}}{% else %}Sem Código{% endif %}</p>
    <p><strong>Proprietário:</strong> {{owner.firstname}} {{owner.lastname}}</p>
    <p><strong>CPF:</strong> {{owner.cpf}}</p>
    <p><strong>Telefone 1:</strong> {{owner.phone1}}</p>
    <p><strong>Telefone 2:</strong> {% if owner.phone2 %}{{owner.phone2}}{% else %}-{% endif %}</p>
    <p><strong>Quantidade de Residentes:</strong> {{property.qty_people}}</p>
    <p><strong>Possui câmeras:</strong> {% if property.has_cams %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui sinal telefônico:</strong> {% if property.has_phone_signal %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui internet:</strong> {% if property.has_internet %}Sim{% else %}Não{% endif %}</p>
    <p><strong>Possui arma de fogo:</strong> {% if property.has_gun %}Sim{% else %}Não{% endif %}</p>
    {% if property.has_gun %}
        <p><strong>Possui local adequado para armazenar a arma de fogo:</strong> {% if property.has_gun_local %}Sim{% else %}Não{% endif %}</p>
        <p><strong>Descrição do local onde a arma está armazenada:</strong> {% if property.gun_local_description %}{{property.gun_local_description}}{% else %}-{% endif %}</p>
    {% endif %}
    <p><strong>Quantidade de Defensivos Agrícolas:</strong> {{property.qty_agricultural_defensives}}</p>
    <p><strong>Tamanho da Propriedade (hectares): </strong> {{property.area}}</p>
    <p><strong>Observações:</strong> {% if property.observations %}{{property.observations}}{% else %}-{% endif %}</p>

    <hr>

    <h3>Veículos</h3>
    {% for vehicle in vehicles %}
        <li>{{vehicle[0].name}} - {{vehicle[0].brand}}</li>
    {% else %}
        <p>Esta propriedade não possui veículos.</p>
    {% endfor %}

    <hr>

    <h3>Máquinas Agrícolas</h3>
    {% for agricultural_machine in agricultural_machines %}
        <li>{{agricultural_machine[0].name}}</li>
    {% else %}
        <p>Esta propriedade não possui máquinas agrícolas.</p>
    {% endfor %}

    <hr>

    <h3>Solicitações</h3>
    {% for request in requests %}
        <li>{{request[0].agency}} - {% if request[0].has_success %}Com sucesso{% else %}Sem sucesso{% endif %}</li>
        <hr>
    {% else %}
        <p>Esta propriedade não possui nenhuma solicitação.</p>
        <hr>
    {% endfor %}

    <h3>Visita</h3>
    <p><strong>Data da Visita:</strong> <span class="visit-date">{{visit.date}}</span></p>
    <p>
        <strong>Guarnição:</strong>
        <ul>
            {% for user in users %}
                <li>{{user[0].name}}</li>
            {% endfor %}
        </ul>
    </p>
    <p><strong>Viatura:</strong> {{visit.car}}</p>
    <hr>

    <h3>Localização</h3>

    <div id="map"></div>
{% endblock %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT2yQkWPQnKknKL1IJHxVAcvV0IaN2N5A&callback=initMap&v=weekly" defer></script>

    <script>
        console.log($('.visit-date'));
        var visitDates = $('.visit-date');

        visitDates.each((index) => {
            let dateInt = Date.parse(visitDates[index].innerText);
            
            let date = new Date(dateInt);

            let dateFormat = date.toLocaleDateString("pt-BR", {
                day: "numeric",
                month: "numeric",
                year: "numeric",
                hour:"numeric",
                minute: "numeric"
            });

            visitDates[index].innerText = dateFormat;
        })
    </script>

{% endblock %}

{% block visits_active %}
active
{% endblock %}