{% extends "admin-base.html" %}

{% block title %}
Tipos de Propriedades
{% endblock %}

{% block header %}
<style>
    .margin-left {
        margin-left: 10px;
    }

    .margin-right {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<h1 style="float: left; margin-bottom: 3%;">Tipos de Propriedades</h1>
<a href="/property-types/add" class="btn btn-success btn-block" style="float: right; width: 18%;">Adicionar Tipo</a>

<div style="clear: both;"></div>

<label for="input-search" style="margin-bottom: 0.5%;">Nome</label>

<div style="clear: both;"></div>

<div class="form-group mb-3" style="float: left; width: 80%; margin-right: 2%;">
    <input type="text" id="input-search" class="form-control" style="margin-bottom: 2%;" placeholder="Ex. Chácara">
</div>
<button type="button" class="btn btn-primary" style="width: 18%;" onclick="search();";>Pesquisar</button>

<table class="table table-stripe table-bordered table-hover">
    <thead>
        <th>Nome</th>
        <th>Ações</th>
    </thead>
    <tbody>
        {% for property_type in property_types %}
        <tr>
            <td>{{ property_type.name }}</td>
            <td>
                <div class="buttons" style="width: 80%; margin: auto;">
                    <a href="#" class="btn btn-dark btn-block" style="width: 30%; margin-right: 3%;">Ver</a>
                    <a href="/property-types/edit/{{ property_type._id }}" class="btn btn-primary btn-block"
                        style="width: 30%; margin-right: 3%;">Alterar</a>
                    <a href="#" onclick="confirmDeletion('{{ property_type._id }}');" class="btn btn-danger btn-block"
                        style="width: 30%;">Apagar</a>
                </div>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3" style="text-align: center; margin: auto;">Nenhum resultado Encontrado</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example"></nav>
    <ul class="pagination">

    {% if (page != 1) %}
        <li class="page-item"><a class="page-link" href="/property-types?page={{ page|int - 1 }}{% if (search) %}&search={{search}}{% endif %}">Anterior</a></li>
    {% endif %}

    {% for i in range((page|int - 2), (page|int + 3)) -%}
        {% if (i == page) %}
            <li class="page-item active"><a class="page-link" href="/property-types?page={{i}}{% if (search) %}&search={{search}}{% endif %}">{{ i }}</a></li>
        {% elif (i > 0 and i <= last_page) %}
            <li class="page-item"><a class="page-link" href="/property-types?page={{i}}{% if (search) %}&search={{search}}{% endif %}">{{ i }}</a></li>
        {% endif %}
    {%- endfor %}

    {% if (page < last_page) %}
        <li class="page-item"><a class="page-link" href="/property-types?page={{ page|int + 1 }}{% if (search) %}&search={{search}}{% endif %}">Próximo</a></li>
    {% endif %}
    </ul>
</nav>

{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
        if ("{{message}}" != "") {
            toastr["success"]("{{ message }}", "Sucesso!");
        }
    })

    const search = () => {
        let searchText = $('#input-search').val() || "";

        window.location.href = "/property-types?page=1&search=" + searchText;
    }

    const confirmDeletion = (id) => {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success margin-left',
                cancelButton: 'btn btn-danger margin-right'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Você tem certeza?',
            text: "Não é possível reverter esta informação!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim, apagar!',
            cancelButtonText: 'Não, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                //Delete info
                $.ajax({
                    type: "POST",
                    url: "/property-types/delete/" + id,
                    success: function (data) {
                        if (data) {
                            window.location.href = "/property-types";

                            swalWithBootstrapButtons.fire(
                                'Apagado!',
                                'Tipo de Propriedade apagado com sucesso',
                                'success'
                            );
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Erro!',
                                'Houve um erro ao deletar o Tipo de Propriedade. Tente novamente!',
                                'error'
                            )
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelado!',
                    'Tipo de Propriedade não foi apagado',
                    'error'
                )
            }

        })
    }
</script>
{% endblock %}