{% extends "admin-base.html" %}

{% block title %}
Propriedades
{% endblock %}

{% block header %}
<style>
    .margin-left {
        margin-left: 10px;
    }

    .margin-right {
        margin-right: 10px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/js/selectize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/css/selectize.default.css">
{% endblock %}

{% block content %}
<h1 style="float: left; margin-bottom: 3%;">Propriedades</h1>
<a href="/properties/add" class="btn btn-success btn-block" style="float: right; width: 18%;">Adicionar Propriedade</a>

<div style="clear: both;"></div>

<form method="get" action="/properties">
    <div class="form-group mb-3" style="float: left; width: 25%; margin-right: 2%;">
        <label for="input-search" style="margin-bottom: 0.5%;">Proprietário</label>
        <select name="o" id="select-search">
            <option value="" selected></option>
            {% for owner in owners %}
                <option value="{{ owner._id }}">{{owner.firstname}} {{owner.lastname}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group mb-3" style="float: left; width: 25%; margin-right: 2%;">
        <label for="input-search" style="margin-bottom: 0.5%;">Tipo de Propriedade</label>
        <select name="tp" id="select-search-2">
            <option value="" selected></option>
            {% for property_type in property_types %}
                <option value="{{ property_type._id }}">{{property_type.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group mb-3" style="float: left; width: 25%; margin-right: 2%;">
        <label for="c" style="margin-bottom: 0.5%;">Código de Propriedade</label>
        <input type="text" id="input-search" name="c" class="form-control" style="margin-bottom: 2%; height: 36.18px;" placeholder="Ex. ERE000">
    </div>

    <button type="submit" class="btn btn-primary" style="float: right; height: 36.18px; width: 18%; margin-top: 2%;">Pesquisar</button>
</form>

<table class="table table-stripe table-bordered table-hover">
    <thead>
        <th>Código <a href="/properties?{%if (queries.sort == 'ASC' or queries.sort == undefined)%}sort=DESC{%else%}sort=ASC{%endif%}&column=code{%for var, query in queries %}{%if var != 'sort' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}">{%if queries.sort == 'ASC' and queries.column == 'code'%}<i style="color: black;" class="fa-sharp fa-solid fa-arrow-down"></i>{%elif queries.sort == 'DESC' and queries.column == 'code'%}<i style="color: black;" class="fa-solid fa-arrow-up"></i>{% else %}<i style="color: black;" class="fa-solid fa-arrow-down"></i>{%endif%}</a></th>

        <th>Proprietário <a href="/properties?{%if (queries.sort == 'ASC' or queries.sort == undefined)%}sort=DESC{%else%}sort=ASC{%endif%}&column=firstname{%for var, query in queries %}{%if var != 'sort' and var != 'column'%}&{{var}}={{query}}{%endif%}{%endfor%}">{%if queries.sort == 'ASC' and queries.column == 'firstname'%}<i style="color: black;" class="fa-sharp fa-solid fa-arrow-down"></i>{%elif queries.sort == 'DESC' and queries.column == 'firstname'%}<i style="color: black;" class="fa-solid fa-arrow-up"></i>{% else %}<i style="color: black;" class="fa-solid fa-arrow-down"></i>{%endif%}</a></th>

        <th>Ações</th>
    </thead>
    <tbody>
        {% for property in properties %}
        <tr>
            <td>{{property.code}}</td>
            <td>{{property.owner.firstname}} {{property.owner.lastname}}</td>
            <td>
                <div class="buttons" style="width: 80%; margin: auto;">
                    <a href="/properties/view/{{ property._id }}" class="btn btn-dark btn-block" style="width: 30%; margin-right: 3%;">Ver</a>
                    <a href="/properties/edit/{{ property._id }}" class="btn btn-primary btn-block"
                        style="width: 30%; margin-right: 3%;">Alterar</a>
                    <a href="#" onclick="confirmDeletion('{{ property._id }}');" class="btn btn-danger btn-block"
                        style="width: 30%;">Apagar</a>
                </div>
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3" style="text-align: center; margin: auto;">Nenhum resultado Encontrado</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example"></nav>
    <ul class="pagination">

    {% if (page != 1) %}
        <li class="page-item"><a class="page-link" href="/properties?page={{ page|int - 1 }}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">Anterior</a></li>
    {% endif %}

    {% for i in range((page|int - 2), (page|int + 3)) -%}
        {% if (i == page) %}
            <li class="page-item active"><a class="page-link" href="/properties?page={{i}}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">{{ i }}</a></li>
        {% elif (i > 0 and i <= last_page) %}
            <li class="page-item"><a class="page-link" href="/properties?page={{i}}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">{{ i }}</a></li>
        {% endif %}
    {%- endfor %}

    {% if (page < last_page) %}
        <li class="page-item"><a class="page-link" href="/properties?page={{ page|int + 1 }}{%for var, query in queries %}{%if var != 'page'%}&{{var}}={{query}}{%endif%}{%endfor%}">Próximo</a></li>
    {% endif %}
    </ul>
</nav>

{% endblock %}

{% block script %}
<script>
    $(document).ready(() => {
        if ("{{message}}" != "") {
            toastr["success"]("{{ message }}", "Sucesso!");
        }
    })

    let selectize = $('#select-search').selectize();
    let selectize2 = $('#select-search-2').selectize();

    const confirmDeletion = (id) => {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success margin-left',
                cancelButton: 'btn btn-danger margin-right'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Você tem certeza?',
            text: "Não é possível reverter esta informação!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim, apagar!',
            cancelButtonText: 'Não, cancelar!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                //Delete info
                $.ajax({
                    type: "POST",
                    url: "/properties/delete/" + id,
                    success: function (data) {
                        if (data) {
                            window.location.href = "/properties";

                            swalWithBootstrapButtons.fire(
                                'Apagado!',
                                'Propriedade apagada com sucesso',
                                'success'
                            );
                        } else {
                            swalWithBootstrapButtons.fire(
                                'Erro!',
                                'Houve um erro ao deletar a Propriedade. Tente novamente!',
                                'error'
                            )
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelado!',
                    'Propriedade não foi apagada',
                    'error'
                )
            }

        })
    }
</script>
{% endblock %}

{% block properties_active %}
active
{% endblock %}