{% extends "admin-base.html" %}

{% block title %}
Servidores
{% endblock %}

{% block header %}
<script>
        function genPsswd() {
            let password = (Math.random() + 1).toString(36).substring(2, 20);
            
            return $('#password').val(password);
        }
</script>
{% endblock %}

{% block content %}
<h3>Adicionar Servidor</h3>

<form action="/users" method="post">
    <div class="form-group mb-3">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" class="form-control" required>
    </div>

    <div class="form-group mb-3">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class="form-group mb-3">
        <label for="email">Senha</label>
        <input type="text" name="password" id="password" class="form-control" required>
        <a href="#" onclick="genPsswd()">Gerar Senha Aleatória</a>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-success">
    </div>
</form>
{% endblock %}

{% block script %}
{% endblock %}