{% extends "admin-base.html" %}

{% block title %}
Servidores
{% endblock %}

{% block header %}
<script>
        function genPsswd() {
            let password = (Math.random() + 1).toString(36).substring(2, 20);
            
            return $('#password').val(password);
        }
</script>
{% endblock %}

{% block content %}
<h1>Servidores</h1>

<table class="table table-stripe table-bordered table-hover">
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Ações</th>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="buttons" style="width: 80%; margin: auto;">
                        <a href="#" class="btn btn-dark btn-block" style="width: 30%; margin-right: 3%;" >Ver</a>
                        <a href="#" class="btn btn-primary btn-block" style="width: 30%; margin-right: 3%;">Alterar</a>
                        <a href="#" class="btn btn-danger btn-block" style="width: 30%;">Apagar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}
{% endblock %}